[class*="col"]{
    text-align:center;
    border: 2px solid grey;
    padding: 1rem;
    border-radius: 2px;
    background-color:rgb(228, 242, 217);
}

h2 {font-size:1rem;} 
 
@media (min-width: 544px) {  
  h2 {font-size:1rem;} 
}
 
@media (min-width: 768px) {  
  h2 {font-size:1rem;} 
}
 
@media (min-width: 992px) { 
  h2 {font-size:1rem;} 
}
 
@media (min-width: 1200px) {  
  h2 {font-size:1.5rem;}     
}

.bi-person-circle{
    font-size: 1.5rem;
}

.inputs > div{
    background-color: rgb(89, 209, 61);
}

body{
    background-color:rgb(45, 44, 44);
}

.wrapper{
    border-radius: 5px;
    border: none;
    background-color: lightcyan;
}

.container{
    border-radius: 5px;
}

#lslide{
    background-color:blue;
    border-radius:10px;
}

.event{
    cursor: pointer;
}

.bi-calendar2-x-fill:hover{
    background-color: blue;
    border-radius:10px;
    cursor: pointer;
}

.noevent:hover{
    pointer-events: none;
}

.bi-backspace-fill:hover{
    cursor:pointer;
    background-color: red;
    border-radius:10px;
}