[class*="col"]{
    text-align:center;
    border: 2px solid grey;
    padding: 1rem;
    border-radius: 2px;
    background-color:rgb(228, 242, 217);
}

.bi-person-circle{
    font-size: 1.5rem;
}

.inputs > div{
    background-color: rgb(89, 209, 61);
}

body{
    background-color:rgb(45, 44, 44);
}

.wrapper{
    border-radius: 5px;
    border: none;
    background-color: lightcyan;
}

.container{
    border-radius: 5px;
}

#lslide{
    background-color:blue;
    border-radius:10px;
}

.event{
    cursor: pointer;
}

.event:hover{
    background-color:blue;
}

.noevent:hover{
    pointer-events: none;
}